body{
	font-size: 16px;
	color: #fff;/*any text will appear of this color (white)*/
	background-color: #086735 ;
	font-family: "Oxygen", sans-serif;
}
a{
	text-decoration: none;
}

#header-nav{
	background-color: #B25D3A;
	border-radius: 0;
	border:2px solid black;
}
.navbar-brand{
	border: 2px solid black;;
}
.navbar-brand h1{
	font-family: "Lora", serif;
	color: #fff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
